version: '3.9'

services:
  mongo:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: abc123
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

volumes:
  mongo_data:

