version: '3.9'

services:
  redis:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    networks:
      - app-network

volumes:
  redis_data:

